:root {
    --size: 25vh;
    --margin: 2vh;
}

@media (orientation:portrait) {
    :root {
        --size: 25vw;
        --margin: 2vw;
    }
}

body {
    background-color: #222;
    font-size: 2em;
    font-family: monospace;
    text-align: center;
    color: gainsboro;
}

#colors>div {
    margin: var(--margin);
    height: var(--size);
    width: var(--size);
    border-radius: var(--size);
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 .4vh 0.7vh 0.2vh #111;
}

#code,
#alertbox {
    width: calc(var(--size) * 3 + var(--margin) * 4);
    border-color: black;
    margin: 5vh auto;
    background-color: rgba(0, 0, 0, .3);
    padding: .2em;
}

#alertbox>a {
    cursor: pointer;
    font-weight: bold;
}